<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product filta</title>
</head>
<body>
<h3>Danh sách sản phẩm</h3>
<form action="/product/filter-by-quantity" method="get" style="margin-bottom: 20px">
    Số lượng từ:
    <input type="number" name="min">
    Đến:
    <input type="number" name="max">
    <button type="submit">Tìm</button>
</form>
<hr>
<table style="border: 1px; width:40%; text-align: center">
    <thead>
        <tr>
            <th>Mã</th>
            <th>Tên</th>
            <th>Giá</th>
            <th>Số lượng</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="p : ${productList}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${#numbers.formatDecimal(p.price,0,2)}"></td>
            <td th:text="${p.quantity}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>