<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<h2>Liên kết list với selection</h2>
<div>
    <label>Loại sản phẩm: </label>
    <select id="category">
        <option value="">Chọn loại sản phẩm</option>
        <option th:each="item: ${categories}"
            th:value="${item.key}"
                th:text="${item.value}"
                th:selected="${item.key == selectedCatId}"
        ></option>
    </select>
</div>
<h2>Liên kết list voới radio</h2>
<br>
<div>
    <span>Loại sản phẩm</span>
    <div th:each="item: ${categories}">
        <input type="radio"
        name="category"
               th:id="${item.key}"
               th:value="${item.key}"
               th:checked="${item.key == selectedCatId}"/>
        <label th:for="${item.key}" th:text="${item.value}"></label>
    </div>
</div>
</body>
</html>