<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<body>
<h3>Quản lý danh mục loại sản phẩm</h3>
<hr>
<form th:action="@{/webshop/category/create}" th:object="${category}" th:method="post">
    <div>
        <label>Mã</label>
        <input type="text" th:field="*{id}">
    </div>
    <br>
    <div>
        <label>Tên</label>
        <input type="text" th:field="*{name}">
    </div>
    <br>
    <div>
        <button type="submit" formaction="/webshop/category/create">Create</button>
        <button type="submit" formaction="/webshop/category/update">Update</button>
        <button type="button" onclick="if(document.querySelector('[name=id]').value &&
    confirm('Delete?')) {
      window.location = '/webshop/category/delete/'
      + document.querySelector('[name=id]').value
    }">Delete</button>
        <button type="reset">Reset</button>
    </div>
</form>
<table style="width: 60%; border-collapse: collapse;" border="1">
    <thead>
    <tr>
        <th>STT</th>
<!--        Sắp xếp theo Id-->
        <th>
            <a th:href="@{/webshop/category/paging(page=${currentPage},
            size=${categories.size},
            sortBy='id',sortDir=${sortBy=='id' ? reverseDir : 'asc'}
            )}">ID</a>
        </th>
        <th>
            <a th:href="@{/webshop/category/paging(page=${currentPage},
            size=${categories.size},
            sortBy='name',sortDir=${sortBy=='name' ? reverseDir : 'asc'}
            )}">Tên</a>
        </th>
        <th>Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c, row : ${categories}">
        <td th:text="${row.count}"></td>
        <td th:text="${c.id}"></td>
        <td th:text="${c.name}"></td>
        <td>
            <a th:href="@{/webshop/category/edit/{id}(id=${c.id})}">Cập nhật</a>
            |
            <a th:href="@{/webshop/category/delete/{id}(id=${c.id})}"
               onclick="return confirm('Delete this category?')"
            >Xoá</a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<!--PHÂN TRANG-->
<div style="margin-top: 10px">
    <a th:if="${currentPage > 0}"
       th:href="@{/webshop/category/paging(page=0,size=${categories.size},
    sortBy=${sortBy},
    sortDir = ${sortDir}
    )}">
        Trang đầu
    </a>

    <a th:if="${currentPage > 0}"
        th:href="@{/webshop/category/paging(page=${currentPage - 1},
        size=${categories.size}, sortBy = ${sortBy}, sortDir = ${sortDir})}">
        Trang trước
    </a>

    &nbsp;&nbsp;
        Page<span th:text="${currentPage + 1}"></span>
        / <span th:text="${totalPages}"></span>
    &nbsp;&nbsp;

    <a th:if="${currentPage + 1 < totalPages}"
       th:href="@{/webshop/category/paging(page=${currentPage + 1},
        size=${categories.size}, sortBy = ${sortBy}, sortDir = ${sortDir})}">
        Trang tiếp theo
    </a>

    <a th:if="${currentPage + 1 < totalPages}"
       th:href="@{/webshop/category/paging(page=${totalPages - 1},
       size=${categories.size},
    sortBy=${sortBy},
    sortDir = ${sortDir}
    )}">
        Trang cuối
    </a>
</div>
</body>
</html>