<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lý nhân sự</title>
</head>
<body>
<h2 th:text="${header}"></h2>
<p>
    Tổng số nhân viên:
    <span th:text="${total}">0</span>
</p>
<form th:action="@{/employee/index}"
th:object="${searchResult}"
      method="get">

    <label>
        Tên nhân viên:
        <input type="text" th:text="${fullName}">
    </label>
    <br>
    <button type="submit">Tìm kiếm</button>
</form>
<table>
    <tr>
        <th>Id</th>
        <th>Họ và tên</th>
        <th>Email</th>
    </tr>
    <tr th:each="e : ${employees}">
        <td th:text="${e.id}"></td>
        <td th:text="${e.fullName}"></td>
        <td th:text="${e.email}"></td>
    </tr>
</table>
</body>
</html>